- content_for :without_navigation, true
- content_for :title, "The change you wanted was rejected (422)"
.row
  .large-12.small-12.columns
    %h1 The change you wanted was rejected.
    %p Maybe you tried to change something you didn't have access to.
