- content_for :without_navigation, true
- content_for :title, "The page you were looking for doesn't exist (404)"
.row
  .large-12.small-12.columns
    %h1 The page you were looking for doesn't exist.
    %p You may have mistyped the address or the page may have moved.
