- content_for :without_navigation, true
- content_for :title, "We're sorry, but something went wrong (500)"
.row
  .large-12.small-12.columns
    %h1 We're sorry, but something went wrong.
    %p We've been notified about this issue and we'll take a look at it shortly.
