%table.pricing
  %thead
    %tr
      %th
        %h3 Features
      %th
        %h3 Standard
      %th
        %h3 Premium
      %th
        %h3 Pro
  %tbody
    %tr
      %th Feature 1
      %td &#10003;
      %td &#10003;
      %td &#10003;
    %tr
      %th Feature 2
      %td &#10003;
      %td &#10003;
      %td &#10003;
    %tr
      %th Feature 3
      %td
      %td &#10003;
      %td &#10003;
    %tr
      %th Feature 4
      %td
      %td &nbsp;
      %td &#10003;
  %tfoot
    %tr
      %th Price
      %th
        %div $10
      %th
        %div $20
      %th
        %div
          %span.exp
            Coming!
