.row
  .large-12.columns
    %h3 Order Summary
  .large-6.small-12.columns.panel.background-lightest
    %h4 Shipping Address
    %p Would go here
    = link_to 'Change', '#form-1'
  .large-6.small-12.columns.panel
    %h4 Billing Address
    %p Would go here
    = link_to 'Change', '#form-1'
  .large-6.small-12.columns.panel.background-lightest
    %h4 Shipping Method
    %p Would go here
    = link_to 'Change', '#form-2'
  .large-6.small-12.columns.panel
    %h4 Payment Information
    %p Would go here
    = link_to 'Change', '#form-3'
.row
  .large-12.columns
    %input( type='submit' class='medium button' value='Complete Purchase' )
