%blockquote.testimonial
  .row
    .large-2.small-4.columns
      = image_tag "http://placehold.it/123x123&text=Headshot", :class => "headshot"
    .large-10.small-8.columns
      %p
        Gotta say, the staff at
        = link_to "@railsthemes", "http://twitter.com/railsthemes"
        are very helpful, courteous, and knowledgable.
      %cite
        = link_to "#" do
          Andy Anderson
        %span
          Chief Happiness Officer
