%h2 Sign in
%form#user_new.user_new{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => ""}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "rl4jFltMRM84mHyBdcdZFcBQYx4EWNBztA+kNf4jGWM="}/
  %div
    %label{:for => "user_email"} Email
    %br/
    %input#user_email{:name => "user[email]", :size => "30", :type => "email", :value => ""}/
  %div
    %label{:for => "user_password"} Password
    %br/
    %input#user_password{:name => "user[password]", :size => "30", :type => "password"}/
  %div
    %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
    %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
    %label{:for => "user_remember_me"} Remember me
  %div
    %input{:name => "commit", :type => "submit", :value => "Sign in"}/
= link_to "Sign up", "/railsthemes/devise-registration"
%br/
= link_to "Forgot your password?", "/railsthemes/devise-forgot_password"
%br/
