.row
  .small-12.columns
    %h1 Preview One-Column Email
    %p Enter your address and a sample email will be sent to you.
    = form_tag('/railsthemes/send_email_one_column') do |f|
      %div= label_tag 'email', 'Email to send to'
      %div= email_field_tag 'email'
      %div= submit_tag 'Send'
