:css
  .foundation-general-icons ul { list-style: none; overflow: hidden; margin-top: 20px; margin-bottom: 30px; }
  .foundation-general-icons ul li { font-size: 28px; margin-bottom: 16px; vertical-align: center; }
  .foundation-general-icons i { font-style: normal; margin-right: 0.5em; }
  .foundicon-general-settings:after        { content: " settings"; }
  .foundicon-general-heart:after           { content: " heart"; }
  .foundicon-general-star:after            { content: " star"; }
  .foundicon-general-plus:after            { content: " plus"; }
  .foundicon-general-minus:after           { content: " minus"; }
  .foundicon-general-checkmark:after       { content: " checkmark"; }

  .foundicon-general-remove:after          { content: " remove"; }
  .foundicon-general-mail:after            { content: " mail"; }
  .foundicon-general-calendar:after        { content: " calendar"; }
  .foundicon-general-page:after            { content: " page"; }
  .foundicon-general-tools:after           { content: " tools"; }
  .foundicon-general-globe:after           { content: " globe"; }

  .foundicon-general-home:after            { content: " home"; }
  .foundicon-general-quote:after           { content: " quote"; }
  .foundicon-general-people:after          { content: " people"; }
  .foundicon-general-monitor:after         { content: " monitor"; }
  .foundicon-general-laptop:after          { content: " laptop"; }
  .foundicon-general-phone:after           { content: " phone"; }

  .foundicon-general-cloud:after           { content: " cloud"; }
  .foundicon-general-error:after           { content: " error"; }
  .foundicon-general-right-arrow:after     { content: " right-arrow"; }
  .foundicon-general-left-arrow:after      { content: " left-arrow"; }
  .foundicon-general-up-arrow:after        { content: " up-arrow"; }
  .foundicon-general-down-arrow:after      { content: " down-arrow"; }

  .foundicon-general-trash:after           { content: " trash"; }
  .foundicon-general-add-doc:after         { content: " add-doc"; }
  .foundicon-general-edit:after            { content: " edit"; }
  .foundicon-general-lock:after            { content: " lock"; }
  .foundicon-general-unlock:after          { content: " unlock"; }
  .foundicon-general-refresh:after         { content: " refresh"; }

  .foundicon-general-paper-clip:after      { content: " paper-clip"; }
  .foundicon-general-video:after           { content: " video"; }
  .foundicon-general-photo:after           { content: " photo"; }
  .foundicon-general-graph:after           { content: " graph"; }
  .foundicon-general-idea:after            { content: " idea"; }
  .foundicon-general-mic:after             { content: " mic"; }

  .foundicon-general-cart:after            { content: " cart"; }
  .foundicon-general-address-book:after    { content: " address-book"; }
  .foundicon-general-compass:after         { content: " compass"; }
  .foundicon-general-flag:after            { content: " flag"; }
  .foundicon-general-location:after        { content: " location"; }
  .foundicon-general-clock:after           { content: " clock"; }

  .foundicon-general-folder:after          { content: " folder"; }
  .foundicon-general-inbox:after           { content: " inbox"; }
  .foundicon-general-website:after         { content: " website"; }
  .foundicon-general-smiley:after          { content: " smiley"; }
  .foundicon-general-search:after          { content: " search"; }

.container.foundation-general-icons
  .row
    .large-12.small-12.columns
      %h2 Foundation Icons - General
  .row
    %ul.large-4.small-12.columns
      %li
        %i.foundicon-general-settings
      %li
        %i.foundicon-general-heart
      %li
        %i.foundicon-general-star
      %li
        %i.foundicon-general-plus
      %li
        %i.foundicon-general-minus
      %li
        %i.foundicon-general-checkmark
      %li
        %i.foundicon-general-remove
      %li
        %i.foundicon-general-mail
      %li
        %i.foundicon-general-calendar
      %li
        %i.foundicon-general-page
      %li
        %i.foundicon-general-tools
      %li
        %i.foundicon-general-globe
      %li
        %i.foundicon-general-home
      %li
        %i.foundicon-general-quote
      %li
        %i.foundicon-general-people
      %li
        %i.foundicon-general-monitor
    %ul.large-4.small-12.columns
      %li
        %i.foundicon-general-laptop
      %li
        %i.foundicon-general-phone
      %li
        %i.foundicon-general-cloud
      %li
        %i.foundicon-general-error
      %li
        %i.foundicon-general-right-arrow
      %li
        %i.foundicon-general-left-arrow
      %li
        %i.foundicon-general-up-arrow
      %li
        %i.foundicon-general-down-arrow
      %li
        %i.foundicon-general-trash
      %li
        %i.foundicon-general-add-doc
      %li
        %i.foundicon-general-edit
      %li
        %i.foundicon-general-lock
      %li
        %i.foundicon-general-unlock
      %li
        %i.foundicon-general-refresh
      %li
        %i.foundicon-general-paper-clip
      %li
        %i.foundicon-general-video
    %ul.large-4.small-12.columns
      %li
        %i.foundicon-general-photo
      %li
        %i.foundicon-general-graph
      %li
        %i.foundicon-general-idea
      %li
        %i.foundicon-general-mic
      %li
        %i.foundicon-general-cart
      %li
        %i.foundicon-general-address-book
      %li
        %i.foundicon-general-compass
      %li
        %i.foundicon-general-flag
      %li
        %i.foundicon-general-location
      %li
        %i.foundicon-general-clock
      %li
        %i.foundicon-general-folder
      %li
        %i.foundicon-general-inbox
      %li
        %i.foundicon-general-website
      %li
        %i.foundicon-general-smiley
      %li
        %i.foundicon-general-search
  .row
    .large-12.small-12.columns
      %h4 Here's the code:
      .code
        %pre
          \&lt;i class="
          %span.class> foundicon-[icon]
          "&gt;&lt;/i&gt;
