:css
  .foundation-social-icons ul { list-style: none; overflow: hidden; margin-top: 20px; margin-bottom: 30px; }
  .foundation-social-icons ul li { font-size: 28px; margin-bottom: 16px; vertical-align: center; }
  .foundation-social-icons i { font-style: normal; margin-right: 0.5em; }
  .foundation-social-icons .foundicon-social-thumb-up:after         { content: " thumb-up";}
  .foundation-social-icons .foundicon-social-thumb-down:after       { content: " thumb-down";}
  .foundation-social-icons .foundicon-social-rss:after              { content: " rss";}
  .foundation-social-icons .foundicon-social-facebook:after         { content: " facebook";}
  .foundation-social-icons .foundicon-social-twitter:after          { content: " twitter";}
  .foundation-social-icons .foundicon-social-pinterest:after        { content: " pinterest";}
  .foundation-social-icons .foundicon-social-github:after           { content: " github";}
  .foundation-social-icons .foundicon-social-path:after             { content: " path";}
  .foundation-social-icons .foundicon-social-linkedin:after         { content: " linkedin";}
  .foundation-social-icons .foundicon-social-dribbble:after         { content: " dribbble";}
  .foundation-social-icons .foundicon-social-stumble-upon:after     { content: " stumble-upon";}
  .foundation-social-icons .foundicon-social-behance:after          { content: " behance";}
  .foundation-social-icons .foundicon-social-reddit:after           { content: " reddit";}
  .foundation-social-icons .foundicon-social-google-plus:after      { content: " google-plus";}
  .foundation-social-icons .foundicon-social-youtube:after          { content: " youtube";}
  .foundation-social-icons .foundicon-social-vimeo:after            { content: " vimeo";}
  .foundation-social-icons .foundicon-social-flickr:after           { content: " flickr";}
  .foundation-social-icons .foundicon-social-slideshare:after       { content: " slideshare";}
  .foundation-social-icons .foundicon-social-picassa:after          { content: " picassa";}
  .foundation-social-icons .foundicon-social-skype:after            { content: " skype";}
  .foundation-social-icons .foundicon-social-steam:after            { content: " steam";}
  .foundation-social-icons .foundicon-social-instagram:after        { content: " instagram";}
  .foundation-social-icons .foundicon-social-foursquare:after       { content: " foursquare";}
  .foundation-social-icons .foundicon-social-delicious:after        { content: " delicious";}
  .foundation-social-icons .foundicon-social-chat:after             { content: " chat";}
  .foundation-social-icons .foundicon-social-torso:after            { content: " torso";}
  .foundation-social-icons .foundicon-social-tumblr:after           { content: " tumblr";}
  .foundation-social-icons .foundicon-social-video-chat:after       { content: " video-chat";}
  .foundation-social-icons .foundicon-social-digg:after             { content: " digg";}
  .foundation-social-icons .foundicon-social-wordpress:after        { content: " wordpress";}

.container.foundation-social-icons
  .row
    .large-12.small-12.columns
      %h2 Foundation Icons - Social
  .row
    %ul.large-4.small-12.columns
      %li
        %i.foundicon-social-thumb-up
      %li
        %i.foundicon-social-thumb-down
      %li
        %i.foundicon-social-rss
      %li
        %i.foundicon-social-facebook
      %li
        %i.foundicon-social-twitter
      %li
        %i.foundicon-social-pinterest
      %li
        %i.foundicon-social-github
      %li
        %i.foundicon-social-path
      %li
        %i.foundicon-social-linkedin
      %li
        %i.foundicon-social-dribbble
    %ul.large-4.small-12.columns
      %li
        %i.foundicon-social-stumble-upon
      %li
        %i.foundicon-social-behance
      %li
        %i.foundicon-social-reddit
      %li
        %i.foundicon-social-google-plus
      %li
        %i.foundicon-social-youtube
      %li
        %i.foundicon-social-vimeo
      %li
        %i.foundicon-social-flickr
      %li
        %i.foundicon-social-slideshare
      %li
        %i.foundicon-social-picassa
      %li
        %i.foundicon-social-skype
    %ul.large-4.small-12.columns
      %li
        %i.foundicon-social-instagram
      %li
        %i.foundicon-social-foursquare
      %li
        %i.foundicon-social-delicious
      %li
        %i.foundicon-social-chat
      %li
        %i.foundicon-social-torso
      %li
        %i.foundicon-social-tumblr
      %li
        %i.foundicon-social-video-chat
      %li
        %i.foundicon-social-digg
      %li
        %i.foundicon-social-wordpress
  .row
    .large-12.small-12.columns
      %h4 Here's the code:
      .code
        %pre
          \&lt;i class="
          %span.class> foundicon-[icon]
          "&gt;&lt;/i&gt;
