- content_for :without_navigation, true

%h1 Sometimes it's really helpful to hide the navigation!
%h3 It helps your users focus on the more important calls to action.

%p= lorem(60)

= link_to "Really, it does!", "#", class: "button"
