%h2 Price Columns
.row
  .large-4.small-12.columns
    %ul.pricing-table
      %li.title Lite
      %li.price $79.99
      %li.description Description...
      %li.bullet-item 1 Database
      %li.bullet-item 1GB Storage
      %li.bullet-item 2 Users
      %li.cta-button
        = link_to "#", class: "button" do
          Buy it now &raquo;
  .large-4.small-12.columns
    %ul.pricing-table
      %li.title Standard
      %li.price $99.99
      %li.description Description...
      %li.bullet-item 3 Databases
      %li.bullet-item 5GB Storage
      %li.bullet-item 20 Users
      %li.cta-button
        = link_to "#", class: "button" do
          Buy it now &raquo;
  .large-4.small-12.columns
    %ul.pricing-table
      %li.title Standard
      %li.price $199.99
      %li.description Description...
      %li.bullet-item 5 Database
      %li.bullet-item 15GB Storage
      %li.bullet-item 50 Users
      %li.cta-button
        = link_to "#", class: "button" do
          Buy it now &raquo;
