%form.compact
  .fields
    .row
      .large-6.small-6.columns
        %input.error{ :type => "text", :name => "first_name_shipping_address", :placeholder => "First Name" }

      .large-6.small-6.columns
        %input{ :type => "text", :name => "last_name_shipping_address", :placeholder => "Last Name" }

    .row
      .large-12.small-12.columns
        %input{ :type => "text", :name => "address_shipping_address", :placeholder => "Street Address"}

    .row
      .large-12.small-12.columns
        %input{ :type => "text", :name => "address2_shipping_address", :placeholder => "Street Address 2" }

    .row
      .small-4.columns
        %input{ :type => "text", :name => "city_shipping_address", :placeholder => "City"}

      .small-2.columns
        %input.smallest{ :type => "text", :name => "state_shipping_address", :placeholder => "State" }

      .large-4.small-6.columns
        %select
          %option{ :value => "" } Country
          - ['United States','Australia','Canada','France','Germany','Mexico','New Zealand','United Kingdom'].each do |country|
            %option{ :value => country } #{country}

      .small-2.columns
        %input{ :type => "text", :name => "zipcode_shipping_address", :placeholder => "Zip" }
