/* This file is included as part of the Meta theme from
 RailsThemes.com, which is licensed for use in a single website. The
 license can be found in the doc folder of this application or at
 railsthemes.com/terms. */

@import "colors/colors_default"
